In [34]:
import requests
import pandas as pd
import time

In [35]:
pair = 'BTCUSDT'
ContractType = 'PERPETUAL'
since = '2024-7-25'
end = '2024-08-01'
interval = '1d'
starttime = int(pd.Timestamp(since).timestamp() * 1000)
endtime = int(pd.Timestamp(end).timestamp() * 1000)
limit = 1000

In [36]:
params = {
    'pair': pair,
    'ContractType': ContractType,
    'interval': interval,
    'startTime': starttime,
    'endTime': endtime,
    'limit': limit
}

url = 'https://fapi.binance.com/fapi/v1/continuousKlines'
res = requests.get(url, params = params)
data = res.json()

In [37]:
data

[[1721865600000,
  '65350.70',
  '66144.00',
  '63456.70',
  '65773.00',
  '319685.441',
  1721951999999,
  '20623007320.19340',
  3687826,
  '156338.330',
  '10090063910.13450',
  '0'],
 [1721952000000,
  '65773.00',
  '68200.00',
  '65688.20',
  '67882.50',
  '235384.526',
  1722038399999,
  '15831346144.96490',
  2790292,
  '118481.678',
  '7969418209.24860',
  '0'],
 [1722038400000,
  '67882.50',
  '69381.70',
  '66624.50',
  '67873.80',
  '330982.647',
  1722124799999,
  '22565690615.42860',
  3655226,
  '167353.059',
  '11413063208.58470',
  '0'],
 [1722124800000,
  '67873.70',
  '68300.00',
  '67037.00',
  '68215.50',
  '116913.935',
  1722211199999,
  '7921123857.98300',
  1542508,
  '57897.212',
  '3922606833.00040',
  '0'],
 [1722211200000,
  '68215.50',
  '70081.00',
  '66365.80',
  '66750.00',
  '372537.818',
  1722297599999,
  '25468669202.30540',
  4092661,
  '183072.335',
  '12524894290.31870',
  '0'],
 [1722297600000,
  '66750.10',
  '66966.60',
  '65254.50',
  '66159.30',
  '246551.044',
  1722383999999,
  '16326143659.43290',
  2850476,
  '119602.533',
  '7921508169.91560',
  '0'],
 [1722384000000,
  '66159.30',
  '66826.30',
  '64500.40',
  '64601.80',
  '246389.446',
  1722470399999,
  '16232585005.41600',
  2854932,
  '120770.267',
  '7958375610.41370',
  '0'],
 [1722470400000,
  '64601.80',
  '65650.00',
  '62271.20',
  '65328.90',
  '372552.060',
  1722556799999,
  '23802440980.59040',
  4146519,
  '179465.764',
  '11467813362.30090',
  '0']]

In [38]:
data_dict = {
    'open_datetime': [row[0] for row in data],
    'open': pd.to_numeric([row[1] for row in data]),
    'high': pd.to_numeric([row[2] for row in data]),
    'low': pd.to_numeric([row[3] for row in data]),
    'close': pd.to_numeric([row[4] for row in data]),
    'volume': pd.to_numeric([row[5] for row in data]),
    'close_datetime': pd.to_numeric([row[6] for row in data]),
    'volvalue': pd.to_numeric([row[7] for row in data]),
    'takerbuy': pd.to_numeric([row[8] for row in data]),
    'takerbuyvalue': pd.to_numeric([row[9] for row in data])
}

In [39]:
df = pd.DataFrame(data_dict)
df

,open_datetime,open,high,low,close,volume,close_datetime,volvalue,takerbuy,takerbuyvalue
0,1721865600000,65350.7,66144.0,63456.7,65773.0,319685.441,1721951999999,2.062301e+10,3687826,156338.330
1,1721952000000,65773.0,68200.0,65688.2,67882.5,235384.526,1722038399999,1.583135e+10,2790292,118481.678
2,1722038400000,67882.5,69381.7,66624.5,67873.8,330982.647,1722124799999,2.256569e+10,3655226,167353.059
3,1722124800000,67873.7,68300.0,67037.0,68215.5,116913.935,1722211199999,7.921124e+09,1542508,57897.212
4,1722211200000,68215.5,70081.0,66365.8,66750.0,372537.818,1722297599999,2.546867e+10,4092661,183072.335
5,1722297600000,66750.1,66966.6,65254.5,66159.3,246551.044,1722383999999,1.632614e+10,2850476,119602.533
6,1722384000000,66159.3,66826.3,64500.4,64601.8,246389.446,1722470399999,1.623259e+10,2854932,120770.267
7,1722470400000,64601.8,65650.0,62271.2,65328.9,372552.060,1722556799999,2.380244e+10,4146519,179465.764

In [40]:
df['open_datetime'] = pd.to_datetime(df['open_datetime'], unit = 'ms')
df['open_datetime'] = df['open_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
df['close_datetime'] = pd.to_datetime(df['close_datetime'], unit = 'ms')
df['close_datetime'] = df['close_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
df

,open_datetime,open,high,low,close,volume,close_datetime,volvalue,takerbuy,takerbuyvalue
0,2024-07-25 00:00:00,65350.7,66144.0,63456.7,65773.0,319685.441,2024-07-25 23:59:59,2.062301e+10,3687826,156338.330
1,2024-07-26 00:00:00,65773.0,68200.0,65688.2,67882.5,235384.526,2024-07-26 23:59:59,1.583135e+10,2790292,118481.678
2,2024-07-27 00:00:00,67882.5,69381.7,66624.5,67873.8,330982.647,2024-07-27 23:59:59,2.256569e+10,3655226,167353.059
3,2024-07-28 00:00:00,67873.7,68300.0,67037.0,68215.5,116913.935,2024-07-28 23:59:59,7.921124e+09,1542508,57897.212
4,2024-07-29 00:00:00,68215.5,70081.0,66365.8,66750.0,372537.818,2024-07-29 23:59:59,2.546867e+10,4092661,183072.335
5,2024-07-30 00:00:00,66750.1,66966.6,65254.5,66159.3,246551.044,2024-07-30 23:59:59,1.632614e+10,2850476,119602.533
6,2024-07-31 00:00:00,66159.3,66826.3,64500.4,64601.8,246389.446,2024-07-31 23:59:59,1.623259e+10,2854932,120770.267
7,2024-08-01 00:00:00,64601.8,65650.0,62271.2,65328.9,372552.060,2024-08-01 23:59:59,2.380244e+10,4146519,179465.764

In [41]:
df = df.set_index(['open_datetime'])
df

,open,high,low,close,volume,close_datetime,volvalue,takerbuy,takerbuyvalue
open_datetime,,,,,,,,,
2024-07-25 00:00:00,65350.7,66144.0,63456.7,65773.0,319685.441,2024-07-25 23:59:59,2.062301e+10,3687826,156338.330
2024-07-26 00:00:00,65773.0,68200.0,65688.2,67882.5,235384.526,2024-07-26 23:59:59,1.583135e+10,2790292,118481.678
2024-07-27 00:00:00,67882.5,69381.7,66624.5,67873.8,330982.647,2024-07-27 23:59:59,2.256569e+10,3655226,167353.059
2024-07-28 00:00:00,67873.7,68300.0,67037.0,68215.5,116913.935,2024-07-28 23:59:59,7.921124e+09,1542508,57897.212
2024-07-29 00:00:00,68215.5,70081.0,66365.8,66750.0,372537.818,2024-07-29 23:59:59,2.546867e+10,4092661,183072.335
2024-07-30 00:00:00,66750.1,66966.6,65254.5,66159.3,246551.044,2024-07-30 23:59:59,1.632614e+10,2850476,119602.533
2024-07-31 00:00:00,66159.3,66826.3,64500.4,64601.8,246389.446,2024-07-31 23:59:59,1.623259e+10,2854932,120770.267
2024-08-01 00:00:00,64601.8,65650.0,62271.2,65328.9,372552.060,2024-08-01 23:59:59,2.380244e+10,4146519,179465.764

In [42]:
df.to_csv('/Users/xinc./Documents/GitHub/Quant_idea/data/BTCUSDT_1d.csv')

In [43]:
pd.read_csv('/Users/xinc./Documents/GitHub/Quant_idea/data/BTCUSDT_1d.csv')

,open_datetime,open,high,low,close,volume,close_datetime,volvalue,takerbuy,takerbuyvalue
0,2024-07-25 00:00:00,65350.7,66144.0,63456.7,65773.0,319685.441,2024-07-25 23:59:59,2.062301e+10,3687826,156338.330
1,2024-07-26 00:00:00,65773.0,68200.0,65688.2,67882.5,235384.526,2024-07-26 23:59:59,1.583135e+10,2790292,118481.678
2,2024-07-27 00:00:00,67882.5,69381.7,66624.5,67873.8,330982.647,2024-07-27 23:59:59,2.256569e+10,3655226,167353.059
3,2024-07-28 00:00:00,67873.7,68300.0,67037.0,68215.5,116913.935,2024-07-28 23:59:59,7.921124e+09,1542508,57897.212
4,2024-07-29 00:00:00,68215.5,70081.0,66365.8,66750.0,372537.818,2024-07-29 23:59:59,2.546867e+10,4092661,183072.335
5,2024-07-30 00:00:00,66750.1,66966.6,65254.5,66159.3,246551.044,2024-07-30 23:59:59,1.632614e+10,2850476,119602.533
6,2024-07-31 00:00:00,66159.3,66826.3,64500.4,64601.8,246389.446,2024-07-31 23:59:59,1.623259e+10,2854932,120770.267
7,2024-08-01 00:00:00,64601.8,65650.0,62271.2,65328.9,372552.060,2024-08-01 23:59:59,2.380244e+10,4146519,179465.764

# 抓多幣種資料

In [44]:
symbal_list = ['BTCUSDT', 'ETHUSDT', 'BNBUSDT', 'AAVEUSDT', 'ETCUSDT', 'SOLUSDT']

In [47]:
def fetch_ohlcv_data(symbal_list: list, interval: str, since, end):
    ohlcv_dict = {}

    for target in symbal_list:
        pair = target
        ContractType = 'PERPETUAL'
        start_time = int(pd.Timestamp(since).timestamp() * 1000)
        end_time = int(pd.Timestamp(end).timestamp() * 1000)
        limit = 1000

        symbal_data = []

        while start_time < end_time:
            print(pd.to_datetime(start_time, unit = 'ms'))
            params = {
                'pair': pair,
                'ContractType': ContractType,
                'interval': interval,
                'startTime': start_time,
                'limit': limit
            }

            url = 'https://fapi.binance.com/fapi/v1/continuousKlines'
            res = requests.get(url, params = params)
            data = res.json()

            if not data:
                break

            symbal_data.extend(data)
            start_time = int(data[-1][0]) + 1
            time.sleep(0.1)

        if symbal_data:
            df = pd.DataFrame({
                'open_datetime': [row[0] for row in data],
                'open': pd.to_numeric([row[1] for row in data]),
                'high': pd.to_numeric([row[2] for row in data]),
                'low': pd.to_numeric([row[3] for row in data]),
                'close': pd.to_numeric([row[4] for row in data]),
                'volume': pd.to_numeric([row[5] for row in data]),
                'close_datetime': pd.to_numeric([row[6] for row in data]),
                'volvalue': pd.to_numeric([row[7] for row in data]),
                'takerbuy': pd.to_numeric([row[8] for row in data]),
                'takerbuyvalue': pd.to_numeric([row[9] for row in data])
            })

            df['open_datetime'] = pd.to_datetime(df['open_datetime'], unit = 'ms')
            df['open_datetime'] = df['open_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
            df['close_datetime'] = pd.to_datetime(df['close_datetime'], unit = 'ms')
            df['close_datetime'] = df['close_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

            ohlcv_dict[target] = df

    return ohlcv_dict

In [49]:
factor_dict = fetch_ohlcv_data(symbal_list = symbal_list,
                               interval = '1d',
                               since = '2024-1-1',
                               end = '2024-8-1')

2024-01-01 00:00:00
2024-01-01 00:00:00
2024-01-01 00:00:00
2024-01-01 00:00:00
2024-01-01 00:00:00
2024-01-01 00:00:00

In [50]:
factor_dict['BTCUSDT']

,open_datetime,open,high,low,close,volume,close_datetime,volvalue,takerbuy,takerbuyvalue
0,2024-01-01 00:00:00,42314.0,44266.0,42207.9,44230.2,206424.144,2024-01-01 23:59:59,8.897558e+09,2197331,107259.562
1,2024-01-02 00:00:00,44230.3,45950.0,44200.9,44979.8,459798.523,2024-01-02 23:59:59,2.079912e+10,4584899,226772.856
2,2024-01-03 00:00:00,44979.7,45582.3,40333.0,42849.5,595855.225,2024-01-03 23:59:59,2.572615e+10,5484694,285738.095
3,2024-01-04 00:00:00,42849.5,44840.8,42625.0,44143.8,333923.098,2024-01-04 23:59:59,1.458279e+10,3778259,167326.171
4,2024-01-05 00:00:00,44143.8,44500.0,42300.0,44145.4,374967.791,2024-01-05 23:59:59,1.638317e+10,4299469,186384.897
...,...,...,...,...,...,...,...,...,...,...
223,2024-08-11 00:00:00,60889.8,62000.0,58255.4,58693.1,202539.076,2024-08-11 23:59:59,1.216419e+10,2943796,98529.969
224,2024-08-12 00:00:00,58693.1,60666.0,57615.0,59323.6,367126.290,2024-08-12 23:59:59,2.169470e+10,4993056,183254.227
225,2024-08-13 00:00:00,59323.7,61545.0,58360.0,60550.5,255934.721,2024-08-13 23:59:59,1.533133e+10,3666636,128789.781
226,2024-08-14 00:00:00,60550.4,61839.7,58367.2,58648.1,295662.808,2024-08-14 23:59:59,1.773176e+10,3825424,142977.365
227,2024-08-15 00:00:00,58648.1,59021.0,57679.6,58305.9,75894.639,2024-08-15 23:59:59,4.423360e+09,1114040,37586.652

In [51]:
for symbal in list(factor_dict.keys()):
    df = factor_dict[symbal]
    df.to_csv(f'/Users/xinc./Documents/GitHub/Quant_idea/data/{symbal}_1d.csv')

# Get Top Long short position

In [52]:
def fetch_top_ls_position_data(symbal_list, interval):
    top_ls_position_dict = {}

    for target in symbal_list:
        url = 'https://fapi.binance.com/futures/data/topLongShortPositionRatio'
        params = {'symbal': target, 'period': interval, 'limit': '500'}
        res = requests.get(url, params = params)
        res.raise_for_status()
        
        try:
            data = res.json()
        except:
            print('Error: Response is not in JSON format.')
            print('Response content: %s', res.text)
            continue

        target_df = pd.DataFrame(data.copy()).drop(columns = 'symbal')
        target_df['timestamp'] = pd.to_datetime(target_df['timestamp'], unit = 'ms')
        target_df['datetime'] = target_df['timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S')
        target_df = target_df.set_index('datetime').drop(columns = 'timestamp')
        target_df['ToplongAccount'] = pd.to_numeric(target_df['longAccount'])
        target_df['ToplongShortRatio'] = pd.to_numeric(target_df['longShortRatio'])
        target_df['TopshortAccount'] = pd.to_numeric(target_df['shortAccount'])

        top_ls_position_dict[target] = target_df

    return top_ls_position_dict